/*======================================*/

.carousel {
    margin-bottom: 40px;
}

.carousel-caption {
    font-family: Times;
    /*color: #c2ced6;*/
    text-shadow: -2px 0 #173D54, 0 1px #173D54, 1px 0 #173D54, 0 -1px #173D54;
}

.carousel-caption h1, .carousel-caption h2, .carousel-caption h3 {
    font-size: 2.5em;
    font-style: italic;
    /*text-decoration: underline;*/
    color: #AFBAA6;
}

.carousel-caption p {
    font-family: sans-serif;
    font-size: 1.25em;
    text-shadow: -1px 0 #173D54, 0 1px #173D54, 0.5px 0 #173D54, 0 -0.5px #173D54;
    color: #AFBAA6;
}

.carousel-caption a {
    font-family: sans-serif;
    font-size: 1em;
    color: #E2F0D6;
    border-style: outset;
    border-color: #155A6A #3BBDBD;
    padding: 2px;
}

.carousel-caption a:hover {
    color: #3BBDBD;
}