.filter-button {
    font-size: large;
    border: 1px solid #a3f5eb;
    border-radius: 5px;
    text-align: center;
    color: #173D48;
    background-color: #E2F0D6;
    margin-bottom: 30px;

}

.filter-button:hover {
    font-size: large;
    border: 1px solid #a3f5eb;
    border-radius: 5px;
    text-align: center;
    color: #E2F0D6;
    background-color: #173D48;

}

.btn-default:active .filter-button:active .btn-default:focus .filter-button:focus{
    background-color: #42B32F;
    color: red;
}