html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 40px 0px 0px 0px;
    color: black;
    margin-top: 10px;
    margin-bottom: 80px;
    background-color: #173D54;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 8px;
    font-size: smaller;
    background-color: #E2F0D6;
}

/*======================================*/

h1, h2, h3, h4, h5, h6 {
    color: #E2F0D6;
}

.project-link {
    border-color: black;
    color: white;
}

.li_link {
    list-style-image: url(../images/icons/link.png);
}

/*======================================*/

.nav-tabs {
    background-color: #02F0D6;
    border-bottom: none;
}

.tab-content {
    background-color: #3BBDBD;
    color: #ecfafb;
    padding: 5px;
    /*border-left: 1px solid #02F0D6;*/
    /*border-right: 1px solid #02F0D6;*/
    padding: 10px;
}

.nav-tabs > li > a {
    color: #173D48;
    border-bottom: none;
}

.nav-tabs > li > a:focus {
    border-bottom: none;
}

.nav-tabs > li > a:hover {
    background-color: #173D48;
    border-color: #3BBDBD;
    color: #3BBDBD;
    border-bottom: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #3BBDBD;
    color: #E2F0D6;
    font-size: large;
    border-bottom: none;
}

.nav-pills > li > a {
    color: #173D48;
    border-bottom: none;
}

.nav-pills > li > a:focus {
    border-bottom: none;
}

.nav-pills > li > a:hover {
    background-color: #173D48;
    border-color: #3BBDBD;
    color: #3BBDBD;
    border-bottom: none;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #3BBDBD;
    color: #E2F0D6;
    font-size: large;
    border-bottom: none;
}

.tab-pane > ul > li {
    list-style-image: url(../images/icons/skill.png);
}