html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 40px 0px 0px 0px;
    color: white;
    margin-top: 10px;
    margin-bottom: 80px;
    background-color: #E2F0D6; /*a3f5eb*/
    font-family: sans-serif;
    font-size: 2.6em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 8px;
    font-size: 0.6em;
    background-color: #173D54;
}


/*====================================s==*/

h1, h2, h3, h4, h5, h6 {
    color: #E2F0D6;
    font-size: 1.4em;
    text-decoration: underline;
}

.links-box {
    margin: 40px 1px 40px 0;
    padding: 6px 10px 8px 10px;
    background-color: #3BBDBD;
    border-radius: 40px;
}

.description {
    font-size: small;
    font-style: italic;
    display: inline;
}

.project-link {
    border-color: black;
    color: white;
}

.li_link {
    list-style-image: url(../images/icons/linkb.png);
    line-height: 1.6em ;
}

/*TODO: change link into icons*/
#li_link_github {
    list-style-image: url(../images/icons/github.png);
}

#li_link_linkedin {
    list-style-image: url(../images/icons/linkedin.png);
}

#li_link_playstore {
    list-style-image: url(../images/icons/Google_Play.png);
}

#li_link_itchio {
    list-style-image: url(../images/icons/itchio.png);
}


.li_link a {
    color: #173D48;
}

.li_link a:hover {
    color: #a3f5eb;
}

/*======================================*/

.nav-tabs {
    font-size: 0.9em;
}

.tab-content-parent {
    background-color: #3BBDBD;
    padding: 15px 15px 15px 10px;
}

.nav-tabs > li > a {
    background-color: #a3f5eb;
    color: #173D48;
    border-bottom: 10px;
    border-width: 2px;
    border-color: #173D48;
    margin: 10px;

}

.nav-tabs > li > a:hover {
    background-color: #173D48;
    border-color: #3BBDBD;
    color: #3BBDBD;
    margin-bottom: -1px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #3BBDBD;
    color: #E2F0D6;
    font-size: 1.1em;
    margin: 10px;
    margin-bottom: -1px;
}

@media (max-width: 767px) {
    .nav-tabs > li > a {
        margin: 0px;
    }

    .nav-tabs > li > a:hover {
        margin: 0px;
        margin-bottom: 5px;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        margin: 0px;
        margin-bottom: 5px;
    }
}

/*===*/

.nav-pills {
    background-color: #3BBDBD;
}

.nav-stacked {
    border-style: solid solid solid groove;
    border-radius: 0 20px 20px 0;
    border-color: #155A6A;
}

.nav-pills > li > a {
    color: #173D48;
    border-radius: 40px !important;
    /*border-bottom: none;*/
}

.nav-pills > li > a:focus {
    /*border-bottom: none;*/
}

.nav-pills > li > a:hover {
    background-color: #173D48;
    border-color: #3BBDBD;
    color: #3BBDBD;
    /*border-bottom: none;*/
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #155A6A;
    color: #E2F0D6;
    font-size: 1.1em;
    /*border-bottom: none;*/
}

.tab-content-child {
    background-color: #155A6A;
    padding: 4px 10px 8px 10px;
    border-radius: 40px;
    margin: 0;
}

.tab-pane > ul > li {
    list-style-image: url(../images/icons/skill.png);
}

.tab-content-project {
    background-color: #3BBDBD;
    border-radius: 0 0 40px 40px;
}

/*======================================*/
