.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #3BBDBD; /*Sets the text hover color on navbar*/
}

.navbar-header .navbar-brand, .navbar-header .navbar-brand:hover {
    color: #E2F0D6;
    font-size: x-large;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #173D48; /*BACKGROUND color for active*/
    background-color: #3BBDBD;
}

.navbar-default {
    background-color: #173D48;
    border-color: #3BBDBD;
}

.dropdown-menu > li {
    background-color: #173D48;
    border-color: #173D48;
}

.dropdown-menu > li > a {
    color: #E2F0D6;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #173D48;
}

/*when clicked*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #3BBDBD;
}

.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus {
    background-color: #3BBDBD;
    color: #E2F0D6;
}

.navbar-default .navbar-nav > li > a {
    color: #E2F0D6; /*Change active text color here*/
}

.navbar-default .navbar-toggle {
    background-color: #E2F0D6;
    border-color: #3BBDBD;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3BBDBD;
}

.pull-left {
    margin: 0 10px 0 10px;
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar-collapse {
        max-height: none;
    }
}
