/*TODO: change dropdown small arrow*/
/*TODO: in mobile mode, make dropdown list max height bigger*/
/* === navbar === */
.navbar-default {
    background-color: #173D48;
    color: #3BBDBD;
    font-size: 1.2em;
    border-bottom-width: 0px;
    box-shadow: 0px 5px 10px 1px #0f2930;
}

/* === title === */
.navbar-header .navbar-brand,
.navbar-header .navbar-brand:hover {
    color: #E2F0D6;
    font-size: 0.8em;
    font-weight: bold;
    border-right-width: 1px;
    border-color: #E2F0D6;
    border-right-style: solid;
    /*border-radius: 10px;*/
    /*border-top-right-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/

}

/* === Link === */
.navbar-default .navbar-nav > li > a {
    color: #E2F0D6;
    background-color: #173D48;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #3BBDBD; /*Sets the text hover color on navbar*/
    font-size: inherit;
    background-color: #173D48;
}

/*active tab*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #173D48;
    background-color: #c4f2ec;
    font-size: 1.1em;
}

/*!*dropdown*!*/
.navbar-default .navbar-nav .open .dropdown-menu,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color: #173D48;
    color: #E2F0D6;
    font-size: inherit;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #3BBDBD; /*Sets the text hover color on navbar*/
    font-size: inherit;
}

/*dropdown origin clicked*/
.navbar-default .navbar-nav > li.open > a,
.navbar-default .navbar-nav > li.open > a:hover,
.navbar-default .navbar-nav > li.open > a:focus {
    background-color: #3BBDBD;
    color: #E2F0D6;
}

/* === Mobile version === */
/*square icon*/
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #E2F0D6;
    border-color: #3BBDBD;
    margin: 8px;
    width: 100px;
    height: 100px;
    padding: 8px 10px 8px 10px;
}
/*bars in square*/
.navbar-default .navbar-toggle .icon-bar {
    align-content: center;
    background-color: #3BBDBD;
    padding: 4px;
    margin: 10px 0px 10px 0px;
    width: 78px;
    border-radius: 10px;
    border-style: solid;
}

.pull-left {
    margin: 10px;
}

@media (max-width: 767px) {
    /* === navbar === */
    .navbar-fixed-top {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar-collapse {
        max-height: none;
    }

    .navbar-default {
        background-color: #173D48;
        color: #3BBDBD;
        font-size: 2.6em;
        border-bottom-width: 0px;
    }

    /*title*/
    .navbar-header .navbar-brand,
    .navbar-header .navbar-brand:hover {
        /*color: #E2F0D6;*/
        font-size: 0em;
        border-right-width: 0px;
    }

    /*links*/
    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        padding: 34px 0px 34px 10px;
    }

    /*dropdown*/
    .navbar-default .navbar-nav .open .dropdown-menu,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        padding: 34px 0px 34px 18px;
    }
}

/*@media (max-width: 500px) {*/
    /*!* === title === *!*/
    /*.navbar-header .navbar-brand,*/
    /*.navbar-header .navbar-brand:hover {*/
        /*font-size: 0em;*/
    /*}*/

    /*!*.navbar-default .navbar-toggle,*!*/
    /*!*.navbar-default .navbar-toggle:hover,*!*/
    /*!*.navbar-default .navbar-toggle:focus {*!*/
        /*!*margin: 8px 8px 8px 20px;*!*/
    /*!*}*!*/
/*}*/
